# Created by .ignore support plugin (hsz.mobi)
Configuration.properties
EvilTesterAPIChallenges.iml

src/main/
target/generated-test-sources/
pom.xml
src/test/java/EvilTester/Utilities/ConfigurationReader.java
#Store spesific data inside Config.properties